

body {
  /*background: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/3571989/910/606/m2/fpnw/wm0/osfp2t9wtwjhvrbqkeurkyo3ntsp8yv8msctpkm64y4gckniuymkmnkcii3kuvmb-.jpg?1510605124&s=e365d852236a0f34d0d861d20d186b7c") no-repeat center top;*/
  background: url("https://www.desktopbackground.org/download/o/2010/07/27/54922_christmas-large-wallpapers_2560x1600_h.jpg") no-repeat center top;
  /*background: #235E6F;*/
  background-size: 1980px 1100px ;
  height: 100%;
  width: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}


a {
  color: red;
}

a:hover {
  color: #333;
}

a[disabled] {
  color: gray;
  cursor: default;
}

form#signout {
  display: inline;
}

input[type="text"],
input[type="password"] {
  background: white;
  border: 1px solid #BFE6FF;
  padding: 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #1057FF;
}

input[type="submit"] {
  background: #1057FF;
  border: 1px solid red;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

div.page {
  background: #061333;
  border: 1px solid #34A65F ;
  width: 710px;
  margin: 30px auto;
}

/* WebChecker/Signin */
div.page h1 {
  background: #061333;
  margin: 0;
  padding: 10px 14px;
  color: red;
  letter-spacing: 1px;
  /*text-shadow: 0 0 1px #34A65F;*/
    -webkit-text-stroke: 1px #fccc43;
  font-weight: normal;
}

/*sign in bar background*/
div.page div.navigation {
  background: #061333;
  padding: 4px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  color: #f2e2c8;
  font-size: 12px;
  /*text-shadow: 0 0 5px black;*/
  letter-spacing: 0.6px;
}

/*sign in/sign out*/
div.page div.navigation a {
  color: #fccc43;
  /*text-shadow: 0 0 3px black;*/
  font-weight: bold;
}

div.page h2 {
  margin: 0.5em 0 0.25em 0;
  color: #1057FF;
  text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
  padding: 10px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
}

/**
 * The styling of a Message with an ERROR type.
 */
div.ERROR {
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

/**
 * The styling of a Message with an INFO type.
 */
div.INFO {
  margin: 10px 0;
  background: #39689F;
  filter: brightness(100%);
  border: 1px solid #34A65F;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;

  color: white;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}
button.player {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
}
button.game {
  background-color: #fff1f1;
  width: 100px;
  margin: 10px;
}
